:root{
    --margin-img-LR: 10px;
    --padding-vie: 6px;
}

.personnages{
    display: flex;
}

.reverse-personnage{
    flex-direction: row-reverse;
}

.personnage{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.personnage img{
    width: calc(100% - (var(--margin-img-LR) * 2));
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid red;
    margin: 0 var(--margin-img-LR);
}


.personnage button{
    color:white;
    background-color: black;
    border:2px solid white;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 10px;
    cursor: pointer;
    transition: 200ms;
}

.personnage p {
    margin: 5px 15px;
    margin-top: 20px;
}

.personnage button:first-of-type{
    margin-top: 0px;
}

.luke img{
    border: 2px solid greenyellow;
}

.total-vie{
    width: calc(100% - (var(--margin-img-LR) * 2));
    height: 20px;
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin: 0px var(--margin-img-LR);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.vie{
    margin-left: calc(var(--padding-vie) / 2);
    height: calc(100% - var(--padding-vie));
    width: calc(100% - var(--padding-vie));
    background-color: rgb(117, 0, 0);
    border-radius: 20px;
}

@media(max-width: 560px){
    .personnages{
        flex-direction: column;
    }
    .personnage{
        width: 100%;
    }
}