:root{
    --margin-img-LR: 20px;
    --padding-vie: 6px;
}

.personnages{
    display: flex;
}

.reverse-personnage{
    flex-direction: row-reverse;
}

.personnage{
    width: 50%;
}

.personnage img{
    width: calc(100% - (var(--margin-img-LR) * 2));
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid red;
    margin: 0 var(--margin-img-LR);
}

.luke img{
    border: 2px solid greenyellow;
}

.total-vie{
    width: calc(100% - (var(--margin-img-LR) * 2));
    height: 20px;
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin: 0 var(--margin-img-LR);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.vie{
    margin-left: calc(var(--padding-vie) / 2);
    height: calc(100% - var(--padding-vie));
    width: calc(100% - var(--padding-vie));
    background-color: rgb(117, 0, 0);
    border-radius: 20px;
}