:root{
    --margin-top-section: 90px;
    --heigth-footer: 50px;
}

body{
    margin: 0;
    font-family: "Ojuju", sans-serif;
    background-color: black;
    color: aliceblue;
}

header{
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    border-bottom: 2px red solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: normal;
    text-align: center;
    margin: 0;
}

section{
    margin-top: var(--margin-top-section);
    width: 50%;
    margin-left: 25%;
    /* height: calc(100vh - var(--margin-top-section) - var(--heigth-footer)); */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: black;
    border-top: 2px green solid;
    width: 100%;
    height: var(--heigth-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

footer p{
    margin: 0;
}

.translate-null{
    transform: translateY(0);
}

.red-illumination:hover{
    box-shadow: 0px 0px 7px 2px red;
}

.green-illumination:hover{
    box-shadow: 0px 0px 7px 2px green;
}

.disabled{
    display: none !important;
}

.disabled-but-visible{
    opacity: 0.5;
    pointer-events: none;
}



/********************
*   Media Queries
*********************/

@media(max-width: 1200px){
    section{
        width: 70%;
        margin-left: 15%;
    }
}

@media(max-width: 800px){
    section{
        width: 90%;
        margin-left: 5%;
    }
}

@media(max-width: 560px){
    section{
        height: auto;
    }
}